$bg-color:#F5F5F5; 
$text-color:#14191F;
$light-grey:#F9F9F9;
$blue: #1754F2;
$red:#F23636;
$green:#11E927;

.smallShrift{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.middle-boldShrift{
    font-size: 16px;
    font-weight: 700;
    color: $text-color;
}

.middleShrift{
    font-size: 16px;
    font-weight: 400;
}